.destination__container--image{
    width: 50%;
    margin: auto;
}

.destination__container--image img{
    width: 100%;
    
}

.destination__lodging{
    text-align: center;
}

.hotels__list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem;
}

.hotel__card{
    width: 30%;
    padding: 2rem;
    background-color: var(--fifth-color);

}

.hotel__card img{
    width: 100%;
    height: 17em;
}

.hotel__card p{
    font-size: var(--font-normal);
}

.stars{
    display: flex;
    justify-content: center;
    gap: .7rem;
    margin-top: 0.2rem;
    
}



@media (max-width: 1000px){
    .hotel__card {
        width: 40%;
    }
}



@media (max-width: 876px){
    .hotel__card {
        width: 100%;
        padding: 1rem;
    }
    .hotels__list{
        width: 100%;
        padding: 0;
    }
}

