.header{
    position: sticky;
    top: 0;
    z-index: 2000;
}

.header__navBar{
    display: flex;
    justify-content: space-between;
}

.header__navBar img{
    width: 20em;
}

.header__container__menu{
  display: flex;
  justify-content: end;
  gap: 1.5rem;
  font-size: var(--font-normal);

}


.header__navBar{   
    background-color: var(--primary-color);
}